@font-face{
    font-family: "Pokemon";
    src: url("../recursos/fuentes/Pokemon Hollow.ttf") format("truetype");
}

select{
    height: 50px;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../Recursos/violeta.jpg);
    background-attachment: fixed;
    background-size: cover; 
}

header{
    display: flex;
    width: 100%;
    height: 150px;
    color: rgb(221, 221, 221);
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-family: "Pokemon", 'Franklin Gothic Medium';
    text-shadow: 40px 20px 20px black;
}
nav ul {
    width: 100%;
    height: 100px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    margin-top: 30px;
    margin-bottom: 80px;
}

main{
    display: flex;
    flex-direction: column;
}

#contenedorPokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.pokemon{
    background: radial-gradient(circle, #4b79a1, #283e51, #0a1c29);
    display: flex;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    width: 250px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-bottom: 20px;

}

.pokemon:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 60px rgb(255, 0, 255);
}

#boton{
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#pokeball{
    height: 100px;
}

.contTipo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(218, 215, 215);
    height: 50px;
}

#buscador{
    height: 50px;
    width: 50px;
    background-color:black;
    color: grey;
    box-shadow: 0px 0px 20px rgb(173, 173, 173);
    border-radius: 100%;
    padding-left: 5px;

}

#desplegable{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}

.cargadorContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20%;
    animation: moverDerecha 3s; /* Animación que se repite indefinidamente */
}

@keyframes moverDerecha {
    0% {
        transform: translateX(0); /* Empieza en la posición original */
    }
    100% {
        transform: translateX(100%); /* Se mueve hacia la derecha */
    }
}












.type{
    display: flex;
    border-radius: 5px;
    width: 60px;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: large;
}

.grass{
    background-color: rgb(63, 184, 15);
}

.poison{
    background-color: rgb(163, 16, 163);
}

.bug{
    background-color: yellowgreen;
}

.fire{
    background-color: orangered;
}

.flying{
    background-color: lightskyblue;
}

.water{
    background-color: rgb(0, 119, 255);
}

.normal{
    background-color: gray;
}

.electric{
    background-color: yellow;
}

.ground{
    background-color: rgb(167, 112, 30);
}

.fairy{
    background-color: #fdb9e9;;
}

.fighting{
    background-color:tomato
}

.psychic{
    background-color:#f366b9;
}

.rock{
    background-color: rgb(201, 176, 123);
}

.steel{
    background-color:slategrey;
}

.ice{
    background-color: rgb(0, 181, 241, 0.8);
}

.ghost{
    background-color: #7b62a3;
}

.dragon{
    background-color: #d6c2f7;
}

.dark{
    background-color: #5304d3;
}

.stellar{
    background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
}

*{
    text-decoration: none;
}