@font-face{
    font-family: "Pokemon";
    src: url("recursos/fuentes/Pokemon Hollow.ttf") format("truetype");
}

select{
    height: 50px;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(Recursos/body_bg.png), url(Recursos/container_bg.png);
}

header{
    display: flex;
    width: 100%;
    height: 150px;
    color: rgb(221, 221, 221);
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-family: "Pokemon", 'Franklin Gothic Medium';
    text-shadow: 40px 20px 20px black;
}
nav ul {
    width: 100%;
    height: 100px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    margin-top: 30px;
    margin-bottom: 80px;
}

#container{
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
}

#buscador{
    height: 50px;
    width: 50px;
    background-color:black;
    color: grey;
    box-shadow: 0px 0px 20px rgb(173, 173, 173);
    border-radius: 100%;
    padding-left: 5px;

}

#svg{
    width: 25px;
    height: 25px;
}

#desplegable{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}

#contenedorPokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.pokemon{
    background-color: rgba(255, 3, 3, 0.575);
    display: flex;
    box-shadow: 0px 0px 30px rgb(255, 255, 255); /* Sombra */
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    height: auto;
    width: 30vh;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-bottom: 20px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(0, 89, 253);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#boton{
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#pokeball{
    height: 100px;
}

.type{
    border-radius: 5px;
    width: 60px;
    color: black;
    font-weight: bold;
    font-size: large;
}

.grass{
    background-color: rgb(63, 184, 15);
}

.poison{
    background-color: rgb(163, 16, 163);
}

.bug{
    background-color: yellowgreen;
}

.fire{
    background-color: orangered;
}

.flying{
    background-color: lightskyblue;
}

.water{
    background-color: rgb(0, 119, 255);
}

.normal{
    background-color: gray;
}

.electric{
    background-color: yellow;
}

.ground{
    background-color: rgb(167, 112, 30);
}

.fairy{
    background-color: #fdb9e9;;
}

.fighting{
    background-color:tomato
}

.psychic{
    background-color:#f366b9;
}

.rock{
    background-color: rgb(201, 176, 123);
}

.steel{
    background-color:slategrey;
}

.ice{
    background-color: rgb(0, 181, 241, 0.8);
}

.ghost{
    background-color: #7b62a3;
}

.dragon{
    background-color: #d6c2f7;
}

.dark{
    background-color: #5304d3;
}

.stellar{
    background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
}